/*-- scss:defaults --*/
$body-bg: #fff !default;
$body-color: #000 !default;
$headingColor: #4B9CD3 !default;
$font-family-sans-serif: "Open Sans";

/*-- scss:rules --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
.reveal pre { font-size: .75em }
// terminal look for output, on white background
.reveal .cell-output pre code { background-color: #fff; color: #000; font-size: 18pt; }
.reveal a { color: #88ccff; }
.reveal span.citation { font-size: 16pt; font-style: italic;}
